<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2>상품 상세</h2>
    </div>

    <div class="row">
        <div class="col-12 justify-content-end" style="display: flex;justify-content: end;">

            <form th:action="@{/posts/{id}/delete(id=${post.postId})}" method="post">
                <button type="submit" class="w-30 btn btn-secondary btn-sm block">
                    삭제
                </button>
            </form>

        </div>
    </div>

    <!-- 추가 -->
    <!--    <h2 th:if="${param.status}" th:text="'저장 완료'"></h2>-->

    <div>
        <label for="postId">게시글 ID</label>
        <input type="text" id="postId" name="postId" class="form-control" value="1" th:value="${post.postId}" readonly>
    </div>
    <div>
        <label for="title">게시글 제목</label>
        <input type="text" id="title" name="title" class="form-control" value="상품A" th:value="${post.title}" readonly>
    </div>
    <div>
        <label for="contents">게시글 내용</label>
        <input type="text" id="contents" name="contents" class="form-control" th:value="${post.contents}" readonly>
    </div>

    <hr class="my-4">

    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    onclick="location.href='editForm.html'"
                    th:onclick="|location.href='@{/posts/{postId}/edit(postId=${post.postId})}'|"
                    type="button">게시물 수정
            </button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='list.html'"
                    th:onclick="|location.href='@{/posts/list}'|"
                    type="button">목록으로
            </button>
        </div>
    </div>

</div> <!-- /container -->
</body>
</html>